:root {
	font-size: 17px;
	color: white;
	font-family: "Cinzel", serif;
}
body {
	background-image: url("./images/GOTbackground.jpg");
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cards-container {
	display: grid;
	grid-template-columns: repeat(5, 11rem);
	flex-wrap: wrap;
	gap: 15px;
}
.card {
	font-weight: bold;
	width: 9.5rem;
	height: 12rem;
	border: solid 1px white;
	text-align: center;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: #2434499d;
}
/* .cards-container {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	grid-template-columns: repeat(3, 220px);
} */
