:root {
	font-size: 17px;
	color: white;
	font-family: "Cinzel", serif;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background: url("./images/GOTbackground.jpg") no-repeat #243449;
	background-size: cover;
}
header {
	text-align: center;
	font-size: 1.2rem;
}

.scoreboard {
	text-align: center;
	margin: 1rem 0px;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.instruction {
	text-align: center;
}
.cards-container {
	display: grid;
	grid-template-columns: repeat(5, 11rem);
	flex-wrap: wrap;
	gap: 0.8rem;
}
.card {
	font-weight: bold;
	width: 9.5rem;
	height: 12rem;
	border: solid 2px #59708d;
	text-align: center;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: #243449b0;
}
.card:hover {
	cursor: pointer;
	transform: scale(1.03);
	background-color: #253953;
	transition: all 200ms ease-in-out;
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
}
/* .cards-container {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	grid-template-columns: repeat(3, 220px);
} */
